
body{
    margin: 0;
}
#bloc_page{                                 /*  la page       */
    width: 100%;
    margin: auto;
    color: #607D8B;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    background-color: #579c87;
    text-align: center;
    height: 99px;
    padding-top: 9px;
    color: #fdcb46;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
}
section{
	display: flex;
	justify-content: center;
    align-items: center;
}
#haut{
    margin: 40px 0px 40px 0px;
}
#bas{
    
}
                /*    les polices  et le dégradé de couleur    */
#note p{
    color: #3D1319;
    font-size: 1.8em;
    margin: 0;
}
#note h2{
    font-family: 'Devonshire', cursive;
    color: #3D1319;
}
#chic h2{
    background: linear-gradient(to right, #d8852e, #905bfd);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Croissant One', cursive;
    font-size: 1.2em;
}
#chic p{
    color: #c77412;
    font-family: 'DM Serif Display', serif;
    font-size: 1.8em;
    margin: 0;
}
#delice h2{
    background: linear-gradient(to right, #2140df, #0887fb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Dancing Script', cursive;
}
#delice p{
    color: #0887fb;
    font-family: 'Paprika', cursive;
    font-size: 1.8em;
    margin: 0;
}
#palette h2{
    background: linear-gradient(to right, #42973c, #bfff7e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Kaushan Script', cursive;
}
#palette p{
    color: #72bf56;
    font-family: 'Paprika', cursive;
    font-size: 1.8em;
    margin: 0;
}
#picto{
    background: linear-gradient(to right, #f15861, #f78f6a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
#note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: #fcdfdb;
    border: 1px #ffcdd2 solid;
    border-radius: 5px;
    box-shadow:  0 0 9px #B0BEC5;
    margin: 0px 20px 0px 0px;
}
              /*   la page chic à la française   */
#chic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 250px;
    height: 350px;
    text-align: center;
    border: 1px #ffebee solid;
    border-radius: 5px;
    background-color: #fff5fe;
    margin-left:25px;
    box-shadow:  0 0 9px #B0BEC5;
}
#chic h2{
    background: linear-gradient(to right, #d8852e, #905bfd);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
#delice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 250px;
    height: 350px;
    text-align: center;
    border: 1px #F3E5F5 solid;
    border-radius: 5px;
    background-color: #fdfffd;
    box-shadow:  0 0 9px #B0BEC5;
    margin: 0px 20px 0px 0px;
}
#palette{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 250px;
    height: 350px;
    text-align: center;
    border: 1px #FAFAFA solid;
    border-radius: 5px;
    background-color: #fdfffd;
    margin-left:25px;
    box-shadow:  0 0 9px #B0BEC5;
}

#prochainement{
    width: 23%;
    text-align: center;
    margin-top: 25px;
    background-color: #579c87;
    border: 1px #009688 solid;
    border-radius: 15px;
    margin: 40px 0px 80px 0px;
}
 #prochainement a{
     color: #fdcb46;
     font-size: 1.3em;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #579c87;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer a{
    color: #fdcb46;
}

#mentions{
    margin-left: 35px;
    font-size: 1.3em;
}
#contacte{
    margin-right: 35px;
    font-size: 1.3em;
}
a{
    text-decoration: none;
}
#picto{
    font-size: 1.9em;
}
/*    le responsive      */

@media screen and (max-width: 700px) {
    #haut{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;  
    }
    #bas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    #prochainement{
        width: 30%;
        margin: 40px 0 110px;
    }
    #note,#delice{
        margin: 0 0 40px;
    }
    #chic,#palette {
        margin: 0;
    } 
}

@media screen and (max-width: 538px){
    #prochainement{
        width: 40%;
        margin: 40px 0 110px;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        
    }
    #mentions{
        margin: 0;
    }
    #contacte{
        margin: 0;
    }
}

