							/*		les polices 		*/
@font-face {
    font-family: 'playtimewithhottoddiesobliqRg';
    src: url('Fonts/PlaytimeOblique-webfont.eot');
    src: url('Fonts/PlaytimeOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/PlaytimeOblique-webfont.woff2') format('woff2'),
         url('Fonts/PlaytimeOblique-webfont.woff') format('woff'),
         url('Fonts/PlaytimeOblique-webfont.ttf') format('truetype'),
         url('Fonts/PlaytimeOblique-webfont.svg#playtimewithhottoddiesobliqRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




#food{
    background-color: #009688;
    text-align: center;
    height: 80px;
    padding-top: 9px;
    color: #FFC107;
}
#note{
  background-color: #ffcdd2;
  width: 90%;
  margin: 55px;
}
#fond{
  margin: 50px;
}

section header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titre{
  display: flex;
  justify-content: center;
}
.menu{
  display: flex;
  flex-direction: column;
}
.prix{
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
.aligne{
  display: flex;
  justify-content:space-between;
}
section footer{
  display: flex;
  justify-content: center;
}
#picto{
  padding-top: 16px;
  margin-right: 9px;
}
#pied{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #009688;
    color: #FFC107;
}
footer a{
    color: #FFC107;
    text-decoration: none;
}
#mention{
    margin-left: 15px;
}
#contacte{
    margin-right: 15px;
}