
body, .titre, .gauche, .droite {
    margin: 0;
}
#bloc_page{                                 /*  la page       */
    width: 100%;
    margin: auto;
    color: #607D8B;
}

#ohmyfood, #food{
    background-color: #579C87;
    text-align: center;
    height: 99px;
    padding-top: 9px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
}
#ohmyfood, #food a{
    color: #FDCB46;
}

#haut{
    margin: 40px 0px 40px 0px;
}
                /*    les polices  et le dégradé de couleur     */
#chic_un h2{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#note_un p{
    color: #3D1319;
    font-size: 1.8em;
    margin: 0;
}
#note_un h2{
    font-family: 'Dancing Script', cursive;
    color: #3D1319;
    font-size: 1.9em;
}
#chic_un h2{
    background: linear-gradient(to right, #d8852e, #905bfd)no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Croissant One', cursive;
    font-size: 1.3em;
}
#chic_un p{
    color: #c77412;
    font-family: 'DM Serif Display', serif;
    font-size: 1.8em;
    margin: 0;
}
#delice_un h2{
    background: linear-gradient(to right, #2140df, #0887fb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Dancing Script', cursive;
}
#delice_un p{
    color: #0887fb;
    font-family: 'Paprika', cursive;
    font-size: 1.8em;
    margin: 0;
}
#palette_un h2{
    background: linear-gradient(to right, #42973c, #bfff7e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Kaushan Script', cursive;
}
#palette_un p{
    color: #72bf56;
    font-family: 'Paprika', cursive;
    font-size: 1.8em;
    margin: 0;
}
                                 /*    le pictograme de la note   */
.color{
    background: linear-gradient(to right, #f15861, #f78f6a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.taille{
    font-size: 1.9em;
}

                                     /*   les bloques    */
#note_un, #chic_un, #delice_un, #palette_un{
    width: 290px;
    height: 390px;
    text-align: center;
    border-radius: 5px;
    box-shadow:  0 0 9px #B0BEC5;
    transform: scale(1);
    transition: transform 400ms;
}
#note_un{
    border: 1px #ffcdd2 solid;
    background-color: #fcdfdb;
    margin: 0px 20px 0px 0px;
}

#chic_un{
    border: 1px #ffebee solid;
    background-color: #fff5fe;
    margin-left:25px;
    
}
#delice_un{
    border: 1px #F3E5F5 solid;
    background-color: #EDEFEF;
    margin: 0px 20px 0px 0px;
}
#palette_un{
    border: 1px #FAFAFA solid;
    background-color: #FDFFFD;
    margin-left:25px;
}

                                           /*    le prochainement    */
.prochainement{
    width: 30%;
    height: 70px;
    text-align: center;
    background-color: #579C87;
    border: 1px #579c87 solid;
    border-radius: 11px;
    margin: 40px 0px 80px 0px;
}
.prochainement a{
     color: #FDCB46;
     font-size: 1.3em;
}
                                                        /*      le pied de page        */
#position{
    justify-content: space-between;
    margin-top: 30px;
    height: 70px;
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#position a{
    color: #FDCB46;
}

#mentions{
    margin-left: 35px;
    font-size: 1.3em;
}
#contacte{
    margin-right: 35px;
    font-size: 1.3em;
}
a{
    text-decoration: none;
}
                                        /*       les display            */
#palette, .prochainement, #note, #chic, #delice, #haut, #bas, #note_un, #chic_un, #delice_un, #palette_un, #position, h2, .titre, #tete_note, .colone, main, #footer{
    display: flex;
}

#palette, .prochainement, #note, #chic, #delice, #haut, #bas, #note_un, #chic_un, #delice_un, #palette_un, h2, .titre, #tete_note, main, #footer{
    justify-content: center;
    align-items: center; 
}

#note_un, #chic_un, #delice_un, #palette_un, #tete_note, .colone, main{
    flex-direction: column;
}


                                        /*      les annimation         */


#note_un:hover, #chic_un:hover, #delice_un:hover, #palette_un:hover{
    transform: scale(1.1);
}
.soulgne{
    color: inherit;
    background: linear-gradient(to top, rgba(61, 19, 25, 0.9) 0%, rgba(61, 19, 25, 0.9) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size 400ms;
}
.soulgne:hover{
    background-size: 100% 100%;
}
                                        /*       L'effet wiggle           */
#mentions:hover, #contacte:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; 
    perspective: 1000px; 
}

@keyframes shake { 
    10%, 90% { 
    transform: translate3d(-1px, 0, 0); 
    } 

    20%, 80% { 
    transform: translate3d(2px, 0, 0); 
    } 

    30%, 50%, 70% { 
    transform: translate3d(-4px, 0, 0); 
    } 

    40%, 60% { 
    transform: translate3d(4px, 0, 0); 
    } 
}
                                        /*      les points de suspension        */
.point-suspension > div{
    width: 0.3rem;
    height: 0.3rem;
    background-color: #FDCB46;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out both;
}
.point-suspension{
    padding-left:  1%;
}
.point-suspension .point{
    animation-delay: -0.30s;
}

.point-suspension .point2{
    animation-delay: -0.15s;
}

@keyframes bounce{
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}
       /* -----------------------------                    les css pour les pages           ---------------------------------------------------*/ 



                                  /*   pour touts les pages     */


#fond{
  max-width: 800px;
  width: 90%;
  height: 100%;
}

#mention{
    margin-left: 15px;
}
#contacte{
    margin-right: 15px;
}



                                              /*   alignement du menu et le prix     */
.aligne{
  display: flex;
  justify-content:space-between;
}

.prix{
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}



                                        /* la page note enchantée */


.picto{
  font-size: 1.9em;
  background: linear-gradient(to right, #f15861, #f78f6a);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 35px;
}
#note{
  max-width: 900px;
  width: 80%;
  height: 1200px;
  margin-bottom: 9%;
  background-color: #ffcdd2;
}
#note header h2{
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
}
#prelude, #point, #mouvement{
    font-family: 'Handlee', cursive;
}

#footer p{
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
}
#pictograme{
  font-size: 1.5em;
  padding-top: 25px;
  margin-right: 19px;
  background: linear-gradient(to right, #f15861, #f78f6a);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
                                        /*  la page chic à la française */
#chic{
  background-color: #fff5fe;
  max-width: 900px;
  width: 80%;
  height: 950px;
  margin-bottom: 9%;
}
#chic header h2 {
    background: linear-gradient(to right, #d8852e, #905bfd);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Croissant One', cursive;
    font-size: 2.9em;
}
#chic p{
  font-family: 'Gentium Book Basic', serif;
}
.interieur{
    margin: 0 89px 0 89px;
}
#appetit{
   color: #C67412;
}
#plaisir{
    color: #A56799;
}
#gourmandises{
    color: #6E4CCC;
}
 

/*   la page le délice des papilles   */
#delice{
  background-color: #EDEFEF;
  max-width: 900px;
  width: 80%;
  height: 950px;
  margin-bottom: 9%;
}
#delice header h2{
    background: linear-gradient(to right, #2140df, #0887fb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Dancing Script', cursive;
    font-size: 2.9em;
}
#commencer, #continuer, #termier{
    font-family: 'Handlee', cursive;
}
                                      /*    la page palette du goût   */
#palette{
  background-color: #FDFFFD;
  max-width: 900px;
  width: 80%;
  height: 950px;
  margin-bottom: 9%;
}
#palette header h2{
    background: linear-gradient(to right, #42973c, #bfff7e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.9em;
}
.palette_degrader{
    background-image: linear-gradient(to right, #42973c, #bfff7e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
#esquisse, #oeuvre, #sommet{
    font-family: 'Handlee', cursive;
}                                     

                                        /*    la page contacte      */
.contacte  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacte div >label, div>input{
    margin: 10%
}
textarea{
    width: 290px;
    height: 50px;
}

                                      /*  positionement des lignes    */
.ligne{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    margin-top: 9%;
}
.gauche{
    width: 35%;
} 
.droite{
    width: 35%;
}
img{
    width: 100%;
}

                              

                                                    /*    le responsive de la pages index     */

@media screen and (max-width: 700px) {
    #haut, #bas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;  
    }
    #prochainement{
        width: 30%;
        margin: 40px 0 110px;
    }
    #note_un,#delice_un{
        margin: 0 0 40px;
    }
    #chic_un,#palette_un {
        margin: 0;
    } 
}

@media screen and (max-width: 538px){
    #prochainement{
        width: 40%;
        margin: 40px 0 110px;
    }

}

                                            /*    le responsive des autre pages     */

@media screen and (max-width: 800px){
  .aligne p{
    display: flex;
    justify-content: center;
  }
  .aligne{
    display: flex;
    justify-content: center;
    flex-direction: column;  
  }
  .prix{
    display: flex;
    justify-content: center;
    padding: 0;
  }
  #position{
    display: flex;
    justify-content: space-between;
    background-color: #2e6f5b;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    }
     #note, #chic, #delice, #palette{
      height: 1215px;
      margin-bottom: 90px;
    }
    #fond{ 
    width: 90%;
    
  }
  .h2{
    font-size: 0.5em
  }
}

@media screen and (max-width: 670px){
  #fond{ 
    width: 90%;
    height: 100%;
  }
  #mention{
    margin: 20px 0 0 0;
  }
  #contacte{
    margin: 20px 20px 0 0;
  }
  #position{
    display: flex;
    justify-content: space-between;
    background-color: #2e6f5b;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 584px){
  #fond{ 
    width: 90%;
    height: 100%;
  }
   #note, #chic, #delice, #palette{
     width: 100%;
     height: 100%;
     margin: 0 0 150px 0;
  }
   .aligne{
      margin: 0;
   }
  #position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e6f5b;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
  }
  #contacte{
    margin: 0 0 15px 25px;
  }
}
@media screen and (max-width: 320px){
    #palette{
        margin: 0 0 100px 0;
    }
    .interieur{
        margin: 0;
    }
    #prochainement{                     /*   la pages index    */
       width: 70%;
    }
}