body{
    margin: 0;
}
#food a{
  color: #FFC107;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
}
#food{
    background-color: #009688;
    text-align: center;
    height: 99px;
    padding-top: 9px;
    color: #FFC107;
}
h2{
  display: flex;
  justify-content: center;
}

#fond{ 
  width: 90%;
  height: 100%;
}

section header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titre{
  display: flex;
  justify-content: center;
}
.prix{
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
.aligne{
  display: flex;
  justify-content:space-between;
}
section footer{
  display: flex;
  justify-content: center;
}
                                        /* la page note enchantée */

#picto{
  font-size: 1.9em;
  padding-top: 14px;
  margin-right: 10px;
  background: linear-gradient(to right, #f15861, #f78f6a);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#note{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 9%;
  background-color: #ffcdd2;
}
#note header h2{
  font-size: 3em;
  font-family: 'Devonshire', cursive;
}
                                        /*  la page chic à la française */
#chic{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff5fe;
  width: 80%;
  margin-bottom: 9%;
}
#chic header h2 {
    background: linear-gradient(to right, #d8852e, #905bfd);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Croissant One', cursive;
    font-size: 2.9em;
}
#chic p{
  font-family: 'Gentium Book Basic', serif;
}
                                    /*   la page le délice des papilles   */
#delice{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfffd;
  width: 80%;
  margin-bottom: 9%;
}
#delice header h2{
    background: linear-gradient(to right, #2140df, #0887fb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Dancing Script', cursive;
    font-size: 2.9em;
}
                                      /*    la page palette du goût   */
#palette{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfffd;
  width: 80%;
  margin-bottom: 9%;
}
#palette header h2{
    background: linear-gradient(to right, #42973c, #bfff7e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.9em;
}
#pied{
    display: flex;
    justify-content: space-between;
    background-color: #2e6f5b;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a{
  color: #FFC107;
  text-decoration: none;
  font-size: 1.3em;
}
#mention{
    margin-left: 15px;
}
#contacte{
    margin-right: 15px;
}
.ligne{
  display: flex;
  justify-content: space-between;
}
.gauche{
  width: 29%;
  display: flex;
  justify-content: center;
} 
.droite{
  width: 29%;
  display: flex;
  justify-content: center;
}

                              /*    le responsive      */

@media screen and (max-width: 800px){
  .aligne p{
    display: flex;
    justify-content: center;
  }
  .aligne{
    display: flex;
    justify-content: center;
    flex-direction: column;  
  }
  .prix{
    display: flex;
    justify-content: center;
    padding: 0;
  }
  #pied{
    display: flex;
    justify-content: space-between;
    background-color: #2e6f5b;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 800px){
   #note, #chic, #delice, #palette{
      margin-bottom: 115px;
  }
    #fond{ 
    width: 90%;
    height: 100%;
  }
}
@media screen and (max-width: 670px){
  #fond{ 
    width: 90%;
    height: 100%;
  }
  #mention{
    margin: 20px 0 0 0;
  }
  #contacte{
    margin: 20px 0 15px 0;
  }
  #pied{
    display: flex;
    justify-content: space-between;
    background-color: #2e6f5b;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 584px){
  #fond{ 
    width: 90%;
    height: 100%;
  }
   #note, #chic, #delice, #pallette{
     width: 100%;
     margin: 0 0 125px 0;
  }
  #pied{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e6f5b;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
